<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:include="layout :: htmlhead" th:with="title='端口转发'">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <div class="layui-body" style="margin: 1%">

        <button class="layui-btn layui-btn-normal" onclick="addClash()">添加配置文件</button>
        <!--<hr class="layui-bg-blue"/>-->
        <table id="clashList" lay-filter="clashTable"></table>

        <script type="text/html" id="optBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="copyLink">复制链接</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
        </script>
    </div>

    <!--添加端口-->
    <div id="clashDialog" class="layer_self_wrap" style="padding:20px; display:none;">
        <form id="clashForm" class="layui-form" method="post" action="" style="padding:20px;">
            <input id="id" type="hidden" name="id"/>
            <div class="layui-form-item">
                <label class="layui-form-label">配置名称:</label>
                <div class="layui-input-block">
                    <input id="configName" name="configName" required lay-verify="required" placeholder="请输入" type="text" class="layui-input"></input>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">过期时间:</label>
                <div class="layui-input-block">
                    <input id="expireTime" name="expireTime" required lay-verify="required" placeholder="请输入" type="text" class="layui-input"></input>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">配置:</label>
                <div class="layui-input-block">
                    <textarea id="text" name="text" required lay-verify="required" placeholder="请输入" cols="20" rows="20" class="layui-textarea"></textarea>
                </div>
            </div>
            <button class="layui-btn" lay-submit="" lay-filter="clashSubmit">保存</button>
        </form>
    </div>

    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
    <script src="/js/dateUtils.js"></script>
    <script src="/js/clash/clash.js"></script>

</div>
<style type="text/css">
    .layui-form-pane .layui-form-label{
        width: 120px;
    }
</style>
</body>
</html>
