<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:include="layout :: htmlhead" th:with="title='服务器管理'">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <div class="layui-body" style="margin: 1%">

        <button class="layui-btn layui-btn-normal" onclick="add()">添加服务器</button>
        <!--<hr class="layui-bg-blue"/>-->
        <table id="serverList" lay-filter="serverTable"></table>

        <script type="text/html" id="optBar">
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
        </script>
    </div>

    <!--添加端口-->
    <div id="serverDialog" class="layer_self_wrap" style="padding:20px; display:none;">
        <form id="serverForm" class="layui-form" method="post" action="" style="padding:20px;">
            <input id="id" type="hidden" name="id"/>
            <input id="key" type="hidden" name="key"/>
            <div class="layui-form-item">
                <label class="layui-form-label">名称:</label>
                <div class="layui-input-block">
                    <input id="serverName" name="serverName" required lay-verify="required"  placeholder="请输入" type="text" class="layui-input"></input>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">主机:</label>
                <div class="layui-input-block">
                    <input id="localPort" name="host" required lay-verify="required"  placeholder="请输入" type="text" class="layui-input"></input>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">端口:</label>
                <div class="layui-input-block">
                    <input id="internetPort" name="port"  onkeyup="this.value=this.value.replace(/\D/g,'')"
                           onafterpaste="this.value=this.value.replace(/\D/g,'')" required lay-verify="required" placeholder="请输入" type="text" class="layui-input"></input>
                </div>
            </div>
            <button class="layui-btn" lay-submit="" lay-filter="serverSubmit">保存</button>
        </form>
    </div>

    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
    <script src="/js/server/server.js"></script>

</div>
<style type="text/css">
    .layui-form-pane .layui-form-label{
        width: 120px;
    }
</style>
</body>
</html>
